@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
body{
    background-color: black;
    color: #7D221D;
    font-family: 'Finger Paint', cursive;
  }
  
  
  
  
  #container {
    background-color: black;
    width: 300px;
    border-radius: 14px;
    margin: 0px;
    padding: 0px;
    color: #7D221D;
    font-family: 'Finger Paint', cursive;
    font-size: 0.8em;
    border:2px solid #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  div {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  
  #wrapper {
    padding: 10px;
    position: relative;
  }
  
  #controls div, #timeInfo div {
    display: table-cell;
    vertical-align:middle;
    position: relative;
  }
  
  #volumeSlider {
    width:70px;
    height:10px;
    background-color: #DBDBDB;
    position: relative;
    border: 0px;
    border-radius: 14px;
  }
  
  #volumeSlider div {
    height:inherit;
    position: relative;
    border: 0px;
    border-radius: 14px;
  }
  
  #timeInfo {
    margin: 5px 0px;
    position: relative;
  } 
  
  #timeBar {
    width:280px;
    height:10px;
    background-color: #DBDBDB;
    border: 0px;
    border-radius: 14px;
  }
  
  #timeBar div {
    height:inherit;
    position: relative;
    border: 0px;
    border-radius: 14px;
  }
  
  #volumeIcon{
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
  }
  
  .filler {
    width: inherit;
    background-color: #7D221D;
    position: relative;
    border: 0px;
    border-radius: 14px;
    float: left;
  }
  
  .button {
    background-color: #7D221D;
    padding: 4px;
    border-radius: 32px;
    width:32px;
    height:32px;
    cursor: pointer;
    position: relative;
  }
  
  .button img {
    width:20px;
    margin-left: 1px;
    margin-top:4px;
  }
  
  .blank{
    padding: 5px;
  }
  
  .volumeAlign {
    padding-bottom: 15px;
  }
  
  
  button{
    padding: 15px 15px;
    background-color: black;
    color: #7D221D;
    border-color: white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Finger Paint', cursive;;
  }
  
  button:hover{
    background-color: #7D221D;
    color: white;
  }
